@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sacrament Planner</h1>
    <a href="/Planners/Index"><button type="button" class="btn btn-success">Plan Now</button></a>
</div>
